/* for editor transitions */
.editor {
  transition: opacity 0.3s;
}

.editor.preEnter,
.editor.exiting,
.editor.exited {
  opacity: 0;
}

.editor.entering,
.editor.entered {
  opacity: 1;
}

/* react date picker */
.react-datepicker__day--selected {
  border-radius: 50% !important;
  background-color: #72a3a2 !important;
}

.react-datepicker__day--keyboard-selected {
  border-radius: 50% !important;
  background-color: #a9caca !important;
}

/* Draft js */
.public-DraftEditor-content {
  /* background-color: antiquewhite; */
  min-height: 50vh;
}