@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply w-48 py-4 text-center text-white bg-gray-700 rounded-md
  }
}

.fade-out {
  animation: fade-out 200ms forwards;
}

.fade-in {
  animation: fade-in 200ms forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}