@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply w-48 py-4 text-center text-white bg-gray-700 rounded-md
  }
}

.left-out {
  animation: left-out 300ms cubic-bezier(0, 0, 0, 0.95) forwards;
}

.left-in {
  animation: left-in 300ms cubic-bezier(0, 0, 0, 0.95) forwards;
}

.right-out {
  animation: right-out 500ms cubic-bezier(0, 0, 0, 0.95) forwards;
}

.right-in {
  animation: right-in 500ms cubic-bezier(0, 0, 0, 0.95) forwards;
}

@keyframes left-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-70%);
    opacity: 0;
  }
}

@keyframes left-in {
  0% {
    transform: translateX(70%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes right-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(70%);
    opacity: 0;
  }
}

@keyframes right-in {
  0% {
    transform: translateX(-70%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}